<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <title>My Website - About</title>
     <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
<h1>Kadaine Williams</h1>
 <p>
    I am a deligent person who loves to help others in whatever way I can. I wish to add my extertise to your company and become an asset that will maintain the great reputation of your company. I will work efficiently and effective to ensure my ouput will meet your requirements.</p>
</body>
</html>